.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 2.1cm;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-left: 57px;
  margin-right: 7px;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-details {
  padding: 20px;
}

.product-details h2 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.product-details p {
  margin-bottom: 5px;
}
