* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.cont {
  border: 1px solid black;
  padding: 10px;
  display: block;
}
img {
  width: 15rem;
  height: 15rem;
}
.head {
  font-size: 30px;
  margin-bottom: 10px;
}
h1 {
  text-align: center;
}
label {
  display: block;
  border: black;
  width: 100px;
  padding: 10px;
  border-radius: 50px;
  background-color: gray;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

form {
  margin: 20px auto;
  max-width: 1200px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form input[type="text"],
form input[type="number"],
form button {
  display: block;
  width: 95%;
  height: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="file"] {
  display: none;
}

form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  width: 10rem;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

h2 {
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li p {
  margin: 5px 0;
}

li form {
  margin-top: 10px;
}

li form button {
  background-color: #dc3545;
}

li form button:hover {
  background-color: #c82333;
}

